/*COLOUR VARIABLES*/
/*Reusables*/
/* line 15, C:/xamp/htdocs/scawweb/css/main.scss */
.margin0 {
  margin: 0px 0px 0px 0px !important; }

/* line 19, C:/xamp/htdocs/scawweb/css/main.scss */
.padding0 {
  padding: 0px 0px 0px 0px !important; }

/* line 23, C:/xamp/htdocs/scawweb/css/main.scss */
.textleft {
  text-align: left !important; }

/* line 27, C:/xamp/htdocs/scawweb/css/main.scss */
.textcenter {
  text-align: center !important; }

/* line 31, C:/xamp/htdocs/scawweb/css/main.scss */
.textright {
  text-align: right !important; }

/* line 35, C:/xamp/htdocs/scawweb/css/main.scss */
.white {
  color: white !important; }

/*font*/
@font-face {
  font-family: ceraL;
  src: url("../fonts/Cera GR Light.otf") format("opentype"); }

@font-face {
  font-family: ceraM;
  src: url("../fonts/Cera GR Medium.otf") format("opentype"); }

@font-face {
  font-family: ceraB;
  src: url("../fonts/Cera GR.otf") format("opentype"); }

@font-face {
  font-family: congrats;
  src: url("../fonts/congrats.otf") format("opentype"); }

/*sass*/
/* line 61, C:/xamp/htdocs/scawweb/css/main.scss */
.searchbox {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2; }

/* line 71, C:/xamp/htdocs/scawweb/css/main.scss */
li.search .search-wrapper {
  margin: 0 0px;
  transition: margin .25s ease; }

/* line 76, C:/xamp/htdocs/scawweb/css/main.scss */
li.search {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2; }

/* line 86, C:/xamp/htdocs/scawweb/css/main.scss */
#search:focus {
  width: 100%; }

/* line 90, C:/xamp/htdocs/scawweb/css/main.scss */
#search:focus + searchicon {
  right: 2px; }

/*#search:focus + #b {
    background: #ccc
}*/
/* line 97, C:/xamp/htdocs/scawweb/css/main.scss */
#search {
  width: 80% !important;
  background-color: white !important;
  height: 40px !important;
  box-shadow: 0px 0px 5px -1px black !important;
  border-radius: 3px !important;
  margin: 0 0 0px 0 !important;
  padding: 0 45px 0 15px !important; }

/* line 107, C:/xamp/htdocs/scawweb/css/main.scss */
.searchicon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer; }

/* line 114, C:/xamp/htdocs/scawweb/css/main.scss */
.logobox {
  background-color: #ebebeb !important; }

/* line 118, C:/xamp/htdocs/scawweb/css/main.scss */
.loginimg {
  text-align: center; }

/* line 122, C:/xamp/htdocs/scawweb/css/main.scss */
.loginimg2 {
  width: 40%;
  padding-top: 50%; }
  @media screen and (max-width: 601px) {
    /* line 122, C:/xamp/htdocs/scawweb/css/main.scss */
    .loginimg2 {
      width: 11%;
      padding-top: 2%; } }

/* line 131, C:/xamp/htdocs/scawweb/css/main.scss */
.menubg {
  background-color: #f8f8f8 !important; }

/* line 135, C:/xamp/htdocs/scawweb/css/main.scss */
.standardnumber {
  background-color: #03bdd6;
  margin: 10px;
  padding-left: 25% !important;
  font-size: 16px !important;
  font-weight: 700;
  color: white !important; }

/* line 144, C:/xamp/htdocs/scawweb/css/main.scss */
.side-nav li > a:hover {
  color: white !important;
  margin: 3px;
  background-color: #03bdd6 !important; }

/* line 149, C:/xamp/htdocs/scawweb/css/main.scss */
.dividerline {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: -10px !important; }

/* line 155, C:/xamp/htdocs/scawweb/css/main.scss */
.side-nav li > a {
  font-size: 16px !important;
  color: #636363 !important; }

/* line 160, C:/xamp/htdocs/scawweb/css/main.scss */
.side-nav .subheader {
  color: #d3d1d1 !important;
  font-size: 12px !important; }

/* line 165, C:/xamp/htdocs/scawweb/css/main.scss */
.icons {
  position: absolute; }

/* line 168, C:/xamp/htdocs/scawweb/css/main.scss */
.menulist {
  display: inline;
  margin-left: 32px; }

/* line 173, C:/xamp/htdocs/scawweb/css/main.scss */
.menutext {
  top: 4px; }

/* line 179, C:/xamp/htdocs/scawweb/css/main.scss */
.bg {
  height: 45vh;
  margin-top: -90px;
  background-image: url(../img/galaxy_bg.jpg);
  background-size: 100%; }

/* line 186, C:/xamp/htdocs/scawweb/css/main.scss */
.moon {
  display: inline-block;
  position: absolute;
  width: 14vh;
  top: 9vh;
  margin-left: 5vh; }

/* line 194, C:/xamp/htdocs/scawweb/css/main.scss */
.astro {
  display: inline-block;
  position: absolute;
  width: 13vh;
  top: 4%;
  margin-left: 50%; }

/* line 200, C:/xamp/htdocs/scawweb/css/main.scss */
.bgtext {
  text-align: -webkit-center;
  padding-top: 85px;
  color: white;
  font-size: 37px;
  font-weight: 900; }

/* line 208, C:/xamp/htdocs/scawweb/css/main.scss */
.subbox {
  text-align: -webkit-center;
  margin-top: 30px; }

/* line 213, C:/xamp/htdocs/scawweb/css/main.scss */
.subbox2 {
  background-color: white;
  height: 190px;
  width: auto;
  -webkit-box-shadow: 0px 1px 6px 0px #4f4d4f;
  -moz-box-shadow: 0px 1px 6px 0px #4f4d4f;
  box-shadow: 0px 1px 6px 0px #4f4d4f;
  /* @media screen and (max-width: $break-small) {
      
    }*/ }

/* line 225, C:/xamp/htdocs/scawweb/css/main.scss */
.subbox3 {
  text-align: center;
  margin-top: -83px;
  cursor: pointer;
  /* padding-left:50px;
    padding-right:50px;
    padding-top:270px;
    padding-bottom: 50px;*/ }

/* line 235, C:/xamp/htdocs/scawweb/css/main.scss */
.subicons {
  width: 79px;
  margin-top: 38px; }

/* line 240, C:/xamp/htdocs/scawweb/css/main.scss */
.sublist {
  padding-top: 5px;
  font-family: ceraM;
  font-size: 18px; }

/* line 246, C:/xamp/htdocs/scawweb/css/main.scss */
.subbox4 {
  text-align: center;
  /* padding-left:150px;
    padding-right:150px;
   */ }

/* line 253, C:/xamp/htdocs/scawweb/css/main.scss */
.contentdiv {
  padding-left: 350px; }
  @media screen and (max-width: 992px) {
    /* line 253, C:/xamp/htdocs/scawweb/css/main.scss */
    .contentdiv {
      padding-left: 0px; } }

/* line 261, C:/xamp/htdocs/scawweb/css/main.scss */
.menuicon {
  color: white;
  font-size: 30px !important;
  margin-left: 10px; }

/* line 267, C:/xamp/htdocs/scawweb/css/main.scss */
.chapterlist {
  background-color: white;
  height: auto;
  width: 90%;
  -webkit-box-shadow: 0px 1px 6px 0px #4f4d4f;
  -moz-box-shadow: 0px 1px 6px 0px #4f4d4f;
  box-shadow: 0px 1px 6px 0px #4f4d4f; }

/* line 276, C:/xamp/htdocs/scawweb/css/main.scss */
.chapbox {
  text-align: -webkit-center;
  margin-top: 30px;
  cursor: pointer; }

/* line 282, C:/xamp/htdocs/scawweb/css/main.scss */
.chapdivider {
  height: 1.5px !important;
  width: 100% !important;
  margin-left: -11px !important; }

/* line 288, C:/xamp/htdocs/scawweb/css/main.scss */
.chaptext {
  text-align: -webkit-left !important;
  font-size: 25px !important;
  margin-top: 14px !important;
  margin-bottom: 11px !important;
  margin-left: 12px;
  color: #191a19 !important;
  line-height: 26px; }
  @media screen and (max-width: 601px) {
    /* line 288, C:/xamp/htdocs/scawweb/css/main.scss */
    .chaptext {
      font-size: 20px !important; } }

/* line 301, C:/xamp/htdocs/scawweb/css/main.scss */
.chapconcept {
  text-align: left !important;
  margin-top: 7px;
  font-size: 14px;
  color: #03bdd6;
  margin-left: 12px;
  font-weight: 800; }

/* line 310, C:/xamp/htdocs/scawweb/css/main.scss */
.chapicon {
  position: absolute;
  color: #636363 !important;
  margin-left: 4px; }

/* line 316, C:/xamp/htdocs/scawweb/css/main.scss */
.chapicon:hover {
  color: #03bdd6 !important; }

/* line 320, C:/xamp/htdocs/scawweb/css/main.scss */
.chapbuttons a {
  color: #636363 !important; }

/* line 324, C:/xamp/htdocs/scawweb/css/main.scss */
.chapbuttons {
  margin-top: 7px !important;
  color: #636363 !important;
  font-weight: 800; }

@media screen and (max-width: 992px) {
  /* line 330, C:/xamp/htdocs/scawweb/css/main.scss */
  .concepthide {
    display: none !important; } }

/* line 336, C:/xamp/htdocs/scawweb/css/main.scss */
.chapheight {
  margin-top: 6px !important;
  font-size: 14px; }

/*Login box*/
/* line 342, C:/xamp/htdocs/scawweb/css/main.scss */
.logintext {
  background-color: #ebebeb;
  height: 480px; }

/* line 347, C:/xamp/htdocs/scawweb/css/main.scss */
.loginlogo {
  background-color: #03bdd6;
  height: 480px; }
  @media screen and (max-width: 601px) {
    /* line 347, C:/xamp/htdocs/scawweb/css/main.scss */
    .loginlogo {
      height: 17vh; } }

/*STandard */
/* line 356, C:/xamp/htdocs/scawweb/css/main.scss */
.standardtext {
  font-size: 7em;
  text-align: center; }
  @media screen and (max-width: 601px) {
    /* line 356, C:/xamp/htdocs/scawweb/css/main.scss */
    .standardtext {
      font-size: 5em;
      text-align: center;
      margin-top: 3vh !important; } }

/* line 366, C:/xamp/htdocs/scawweb/css/main.scss */
.standardbox {
  background-color: white;
  height: 190px;
  padding: 14px;
  color: #03bdd6;
  -webkit-box-shadow: 0px 1px 6px 0px #4f4d4f;
  -moz-box-shadow: 0px 1px 6px 0px #4f4d4f;
  box-shadow: 0px 1px 6px 0px #4f4d4f; }
  @media screen and (max-width: 601px) {
    /* line 366, C:/xamp/htdocs/scawweb/css/main.scss */
    .standardbox {
      padding: 7px; } }

/*card*/
/* line 380, C:/xamp/htdocs/scawweb/css/main.scss */
.cardbox {
  /* background-color: white;
    height: 70vh;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(79, 77, 79, 1);
    -moz-box-shadow: 0px 1px 6px 0px rgba(79, 77, 79, 1);
    box-shadow: 0px 1px 6px 0px rgba(79, 77, 79, 1);*/
  background-image: url(../img/cards_UI.png);
  background-repeat: no-repeat;
  background-size: 100% 70vh;
  height: 70vh;
  padding-top: 6%; }
  @media screen and (max-width: 601px) {
    /* line 380, C:/xamp/htdocs/scawweb/css/main.scss */
    .cardbox {
      padding-top: 7%;
      width: 112%;
      margin-left: -6%; } }

/* line 403, C:/xamp/htdocs/scawweb/css/main.scss */
.cardspage {
  height: 64vh;
  width: 84%;
  /* margin-top: -11px;*/
  margin-top: -1vh;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 5vh;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(55, 45, 59, 0.16); }
  @media screen and (max-width: 601px) {
    /* line 403, C:/xamp/htdocs/scawweb/css/main.scss */
    .cardspage {
      margin-left: 3vh; } }

/* line 421, C:/xamp/htdocs/scawweb/css/main.scss */
.concepthead {
  background-color: #dae8ea !important;
  height: 6vh;
  border-radius: 6px;
  padding-top: 1% !important;
  font-size: 18px !important;
  padding-left: 10px;
  padding-right: 20px;
  font-family: ceraB; }
  @media screen and (max-width: 601px) {
    /* line 421, C:/xamp/htdocs/scawweb/css/main.scss */
    .concepthead {
      font-size: 11px;
      padding-top: 4%; } }

/* line 436, C:/xamp/htdocs/scawweb/css/main.scss */
.cardbut {
  background-color: white !important;
  border: 1px solid #03bdd6 !important;
  width: 100% !important; }

/* line 442, C:/xamp/htdocs/scawweb/css/main.scss */
.cardicon {
  color: #03bdd6 !important;
  font-size: 50px !important;
  text-align: -webkit-center; }

/* line 448, C:/xamp/htdocs/scawweb/css/main.scss */
.iconrow {
  padding-left: 30px !important;
  padding-right: 30px !important; }

/* line 453, C:/xamp/htdocs/scawweb/css/main.scss */
.starbut {
  background-color: white !important;
  border: 1px solid #03bdd6 !important;
  width: 100% !important; }

/* line 459, C:/xamp/htdocs/scawweb/css/main.scss */
.staricon {
  color: #03bdd6 !important;
  font-size: 57px !important;
  text-align: -webkit-center;
  margin-top: 6px; }

/*mcq page*/
/* line 467, C:/xamp/htdocs/scawweb/css/main.scss */
.mcqhead {
  background-color: #dae8ea;
  height: 6vh;
  border-radius: 6px;
  padding-top: 1.5vh;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  font-family: ceraB; }
  @media screen and (max-width: 601px) {
    /* line 467, C:/xamp/htdocs/scawweb/css/main.scss */
    .mcqhead {
      font-size: 14px; } }

/* line 481, C:/xamp/htdocs/scawweb/css/main.scss */
.testbox {
  background-color: white;
  height: 70vh;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 6px 0px #4f4d4f;
  -moz-box-shadow: 0px 1px 6px 0px #4f4d4f;
  box-shadow: 0px 1px 6px 0px #4f4d4f;
  margin-top: -26vh; }
  @media screen and (max-width: 601px) {
    /* line 481, C:/xamp/htdocs/scawweb/css/main.scss */
    .testbox {
      width: 120%;
      margin-left: -10%; } }

/*scroll bar*/
/* line 500, C:/xamp/htdocs/scawweb/css/main.scss */
.scrollbar {
  overflow-y: scroll; }

/* line 504, C:/xamp/htdocs/scawweb/css/main.scss */
.force-overflow {
  min-height: 450px; }

/* line 508, C:/xamp/htdocs/scawweb/css/main.scss */
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px transparent;
  background-color: #FFF;
  border-radius: 10px; }

/* line 514, C:/xamp/htdocs/scawweb/css/main.scss */
#style-4::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

/* line 519, C:/xamp/htdocs/scawweb/css/main.scss */
#style-4::-webkit-scrollbar-thumb {
  background-color: #03bdd6;
  border: 1px solid #03bdd6; }

/* line 524, C:/xamp/htdocs/scawweb/css/main.scss */
.concepttext {
  font-size: 20px;
  margin-top: 2vh; }
  @media screen and (max-width: 601px) {
    /* line 524, C:/xamp/htdocs/scawweb/css/main.scss */
    .concepttext {
      font-size: 14px; } }

/* line 532, C:/xamp/htdocs/scawweb/css/main.scss */
.optiontext {
  border: solid 2px #0ed5ca;
  padding: 18px;
  margin-top: 2vh;
  font-size: 18px;
  border-radius: 6px; }
  @media screen and (max-width: 601px) {
    /* line 532, C:/xamp/htdocs/scawweb/css/main.scss */
    .optiontext {
      padding: 6px;
      font-size: 14px; } }

/* line 544, C:/xamp/htdocs/scawweb/css/main.scss */
.optionbox {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 3vh; }

/* line 550, C:/xamp/htdocs/scawweb/css/main.scss */
.mcqcontent {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
  width: 100%; }

/* line 557, C:/xamp/htdocs/scawweb/css/main.scss */
.concepthead {
  background-color: #dae8ea !important;
  height: 6vh;
  border-radius: 6px;
  padding-top: 1.5vh;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  font-family: ceraB; }
  @media screen and (max-width: 601px) {
    /* line 557, C:/xamp/htdocs/scawweb/css/main.scss */
    .concepthead {
      font-size: 14px; } }

/* line 571, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptcontent {
  height: 84%;
  width: 100%;
  font-family: ceraB !important; }

/* line 577, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptcontent img {
  max-width: 100%; }

/* line 581, C:/xamp/htdocs/scawweb/css/main.scss */
.concepticon {
  font-size: 19px;
  padding-top: 4px;
  float: inherit; }

/*button*/
/* line 588, C:/xamp/htdocs/scawweb/css/main.scss */
.featured-image {
  max-width: 270px; }

/* line 592, C:/xamp/htdocs/scawweb/css/main.scss */
.round-button {
  width: 100%; }

/* line 596, C:/xamp/htdocs/scawweb/css/main.scss */
.round-button-circle {
  width: 75%;
  height: 0;
  cursor: pointer;
  padding-bottom: 75%;
  border-radius: 50%;
  /* border: 10px solid #cfdcec; */
  overflow: hidden;
  border: 1px solid #03bdd6;
  box-shadow: 0 0 1px grey;
  /*  @media screen and (max-width: $break-tiny) {
        width: 75%;
         padding-bottom: 75%;
    }*/ }

/* line 613, C:/xamp/htdocs/scawweb/css/main.scss */
.round-button-circle:hover {
  background: #03bdd6; }

/* line 617, C:/xamp/htdocs/scawweb/css/main.scss */
.round-button i {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  color: #03bdd6 !important;
  font-size: 35px !important;
  text-align: -webkit-center; }

/* line 630, C:/xamp/htdocs/scawweb/css/main.scss */
.round-button:hover {
  color: white !important; }

/*CONCEPTS TIMELINE*/
/* line 635, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptpercentouterdiv {
  padding: 2% !important;
  padding-bottom: 0px !important; }

/* line 640, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptpercentbg {
  text-align: center;
  background-image: url(../img/circle_percent_holder.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 31% !important;
  font-size: 1.1em !important;
  padding-bottom: 31% !important; }
  @media screen and (max-width: 601px) {
    /* line 640, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptpercentbg {
      padding-top: 27% !important;
      font-size: 0.8em !important; } }
  @media screen and (max-width: 300px) {
    /* line 640, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptpercentbg {
      padding-top: 27% !important;
      font-size: 0.8em !important;
      margin-top: 30%; } }

/* line 660, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptdiv {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 2px; }
  @media screen and (max-width: 300px) {
    /* line 660, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptdiv {
      width: initial; } }

/* line 671, C:/xamp/htdocs/scawweb/css/main.scss */
.concepttitle {
  text-align: left;
  font-size: 1.8em;
  padding-bottom: 1% !important;
  padding-top: 1% !important; }
  @media screen and (max-width: 601px) {
    /* line 671, C:/xamp/htdocs/scawweb/css/main.scss */
    .concepttitle {
      font-size: 1.2em; } }

/* line 681, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptbuttons {
  font-size: 1.2em;
  font-weight: 300; }
  @media screen and (max-width: 601px) {
    /* line 681, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptbuttons {
      font-size: 1.1em; } }
  @media screen and (max-width: 300px) {
    /* line 681, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptbuttons {
      font-size: 1em; } }

/* line 692, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptcompletionline {
  background-color: #03bdd6;
  height: 3px;
  float: left;
  margin-top: 6px !important;
  border-radius: 2px; }

/* line 700, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptdot {
  background-color: #03bdd6;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  margin-left: 2%; }
  @media screen and (max-width: 601px) {
    /* line 700, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptdot {
      height: 8px;
      width: 8px;
      margin-top: -4px;
      margin-left: 0%; } }
  @media screen and (max-width: 300px) {
    /* line 700, C:/xamp/htdocs/scawweb/css/main.scss */
    .conceptdot {
      height: 6px;
      width: 6px;
      margin-top: -3px;
      margin-left: -1%; } }

/* line 723, C:/xamp/htdocs/scawweb/css/main.scss */
.circledotanimation {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 2px #03bdd6, 0 0 4px #03bdd6, 0 0 6px #03bdd6, 0 0 8px #03bdd6, 0 0 10px #03bdd6, 0 0 12px #03bdd6, 0 0 14px #03bdd6, 0 0 16px #03bdd6; }
  to {
    box-shadow: 0 0 2px #03bdd6, 0 0 2px #03bdd6, 0 0 2px #03bdd6, 0 0 2px #03bdd6, 0 0 2px #03bdd6, 0 0 2px #03bdd6, 0 0 2px #03bdd6, 0 0 2px #03bdd6; } }

/*testsresutls*/
/* line 743, C:/xamp/htdocs/scawweb/css/main.scss */
.testbg {
  background-color: #03bdd6;
  height: auto;
  margin-top: -90px; }

/* line 749, C:/xamp/htdocs/scawweb/css/main.scss */
.testtext {
  padding-top: 6vh;
  text-align: center;
  font-family: ceraB;
  color: white; }

/* line 756, C:/xamp/htdocs/scawweb/css/main.scss */
.congratstext {
  color: #f9ff00;
  font-size: 30px;
  font-weight: 900;
  margin-top: 20px;
  font-family: congrats; }

/* line 764, C:/xamp/htdocs/scawweb/css/main.scss */
.scoretext {
  font-size: 15px;
  margin-top: 8px; }
  @media screen and (max-width: 601px) {
    /* line 764, C:/xamp/htdocs/scawweb/css/main.scss */
    .scoretext {
      font-size: 15px; } }

/* line 772, C:/xamp/htdocs/scawweb/css/main.scss */
.score {
  font-size: 40px;
  border: 1px solid;
  font-family: monospace;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75); }

/* line 782, C:/xamp/htdocs/scawweb/css/main.scss */
.resulttext {
  color: white;
  text-indent: 7px; }

/* line 787, C:/xamp/htdocs/scawweb/css/main.scss */
.faceicon {
  display: block;
  margin-right: 10px; }

/* line 792, C:/xamp/htdocs/scawweb/css/main.scss */
.resultscore {
  font-size: 40px;
  font-weight: 500;
  font-family: monospace; }

/* line 798, C:/xamp/htdocs/scawweb/css/main.scss */
.resulthead {
  font-size: 15px;
  font-weight: 400; }

/* line 803, C:/xamp/htdocs/scawweb/css/main.scss */
.testconcept {
  font-size: 17px;
  color: #abaaaa;
  font-family: ceraB;
  position: absolute; }

/* line 810, C:/xamp/htdocs/scawweb/css/main.scss */
.testconcepthead {
  padding-top: 5vh;
  font-size: 19px;
  color: #636363; }

/* line 816, C:/xamp/htdocs/scawweb/css/main.scss */
.conceptstestedline {
  background-color: #03bdd6;
  height: 21px;
  float: left;
  border-radius: 2px; }

@media screen and (max-width: 992px) {
  /* line 823, C:/xamp/htdocs/scawweb/css/main.scss */
  .hidediv {
    display: none; } }

/*# sourceMappingURL=main.css.map */