<div class="container">

    <!--LOADING DIV-->
    <div ng-show="loadingdiv" class="loadingdiv">
        <img src="img/booksFallingLoading.gif">
    </div>

    <!--DIV AFTER LOADING-->
    <div ng-hide="loadingdiv">
        <div class="subbox3" ng-if="errormsg==''">
            <div ng-if="errormsg!=''">
                {{errormsg}}
                <button ng-click="reloadpage()">Retry</button>
            </div>
            <div class="row " style="text-align:center;" ng-if="concepts.length>0">

                <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 subbox animated fadeInLeft" ng-repeat='s in concepts' ng-click='gotoconceptcards(s.id)' ng-style="{animationDelay:$index*0.2+'s'}">
                    <div class="conceptdiv z-depth-1 row relativediv">
                        <div class="col s1 m1 conceptdotdiv">
                            <!--<div class="conceptdot circledotanimation textcenter pulse"></div>-->
                            <a class="btn btn-floating conceptdot" ng-class="{'pulse':$index%2 == 0}"></a>
                        </div>
                        <div class="col s11 m11 offset-s1 offset-m1">
                            <div class="row margin0">
                                <div class="col s10 m10">
                                    <div class="row margin0 concepttitle truncate">
                                        {{s.name}}
                                    </div>
                                    <div class="row margin0 conceptbuttons">
                                        <div class="col s6 m3 textleft padding0 bluehover">Resume</div>
                                        <div class="col s6 m3 textleft padding0 bluehover">Questions</div>
                                    </div>
                                </div>
                                <div class="col s2 m2 conceptpercentouterdiv">
                                    <div class="conceptpercentbg">50%</div>
                                </div>
                            </div>



                        </div>
                        <div class="col s12 m12 margin0 padding0 conceptcompletionline" ng-style="{width:(((s.totalreadcards+s.totalreadquestions)/(s.totalcards+s.totalquestions))*100)+'%'}">

                        </div>


                    </div>
                </div>

                <!--practice tab-->
                <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 subbox animated fadeInLeft" ng-click='' ng-style="{animationDelay:concepts.length*0.2+'s'}">
                    <div class="conceptdiv z-depth-1 row relativediv commonbox">

                        <div class="col s12 m12">
                            <div class="row margin0 concepttitle truncate textcenter">
                                PRACTICE
                            </div>
                        </div>
                    </div>
                </div>
                <!--practice end-->

                <!--Test tab-->
                <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 subbox animated fadeInLeft" ng-click='' ng-style="{animationDelay:concepts.length*0.2+'s'}">
                    <div class="conceptdiv z-depth-1 row relativediv commonbox">

                        <div class="col s12 m12">
                            <div class="row margin0 concepttitle truncate textcenter" ng-click="gototest()">
                                TAKE TEST
                            </div>
                        </div>
                    </div>
                    
                    <div class="testline"></div>
                    <div class="testcircle"></div>
                </div>
                <!--Test end-->

            </div>
            <div ng-if="concepts.length==0">
                No concepts fetched
            </div>

        </div>
    </div>
</div>
