<div class="">
    <div class="row">
        <div class="col s12 m2 l2"></div>
        <div class="col  s12 m8 l8 ">

            <div class="baraja-demo">
                <ul id="baraja-el" class="baraja-container cardbox">
                    <li ng-repeat="card in conceptcards">
                        <div class="">
                            <div class="cardspage">
                                <div class="concepthead">
                                    <div class="row conceptheadcentralize">

                                        <div class="col s3">{{$index+1}}/{{conceptcards.length}}</div>

                                        <div class="col s6 truncate textcenter">{{conceptdata.name}}</div>

                                        <div class="col s3 valign-wrapper">
                                            
                                            <i class="material-icons concepticon right" ng-show="card.editmode">lock_outline</i>
                                            
                                            <i class="material-icons concepticon right" ng-click="addcustomusercard()" ng-hide="card.editmode">add</i>
                                            
                                            <i class="material-icons concepticon right" ng-click="savecustomusercard($index)" ng-show="card.editmode">save</i>
                                            
                                            <i class="material-icons concepticon right" ng-click="editcustomusercard($index)" ng-show="!card.editmode && card.user_id == user.id">edit</i>
                                            
                                             <i class="material-icons concepticon right" ng-click="deletecustomusercard($index)" ng-show="!card.editmode && card.user_id != 0">delete</i>

                                            <!--IF CARD IS NOT STARRED SHOW BELOW ICON-->
                                            <i class="material-icons concepticon right" ng-show="card.user_id == 0">star_border</i>
                                            <!--IF CARD STARRED SHOW BELOW ICON-->
                                            <!--<i class="material-icons concepticon right" ng-show="card.user_id == 0">star_border</i>-->

                                        </div>

                                    </div>
                                </div>
                                <div class="scrollbar conceptcontent" id="carddata" ng-bind-html="card.conceptdata" ng-if="!card.editmode && card.user_id==0">
                                </div>
                                <div class="scrollbar conceptcontent" id="carddata" ng-bind="card.conceptdata" ng-if="!card.editmode && card.user_id!=0">
                                </div>
                                <div ng-if="card.editmode">
                                    <input type="textarea" ng-model="card.conceptdata">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--<div class="cardbox">
                <div class="cardspage">
                    <div class="concepthead">
                        <div class="row conceptheadcentralize">

                            <div class="col s3">{{cardindex+1}}/{{conceptcards.length}}</div>

                            <div class="col s6 truncate textcenter">{{conceptdata.name}}</div>

                            <div class="col s3">
                                <i class="material-icons concepticon">lock_outline</i>
                                <i class="material-icons concepticon" ng-click="addcustomusercard()" ng-hide="conceptcards[cardindex].editmode">add</i>
                                <i class="material-icons concepticon" ng-click="savecustomusercard()" ng-show="conceptcards[cardindex].editmode">save</i>
                                <i class="material-icons concepticon" ng-click="editcustomusercard()" ng-show="!conceptcards[cardindex].editmode && conceptcards[cardindex].user_id == user.id">edit</i>
                                <i class="material-icons concepticon" ng-click="deletecustomusercard()" ng-show="!conceptcards[cardindex].editmode && conceptcards[cardindex].user_id == user.id">delete</i>
                                <i class="material-icons concepticon">star_border</i>

                            </div>

                        </div>
                    </div>
                    <div class="scrollbar conceptcontent" id="carddata" ng-bind-html="conceptcards[cardindex].conceptdata" ng-if="!conceptcards[cardindex].editmode && conceptcards[cardindex].user_id==0">
                    </div>
                    <div class="scrollbar conceptcontent" id="carddata" ng-bind="conceptcards[cardindex].conceptdata" ng-if="!conceptcards[cardindex].editmode && conceptcards[cardindex].user_id!=0">
                    </div>
                    <div ng-if="conceptcards[cardindex].editmode">
                        <input type="textarea" ng-model="conceptcards[cardindex].conceptdata">
                    </div>
                </div>
            </div>-->

        </div>
        <div class="col s12 m2 l2"></div>
    </div>
    <div class="row">
        <div class="col s12 m3 l2 xl3"></div>
        <div class="col s12 m6 l8 xl6 textcenter iconrow">
            <div class="row">

                <div class="col s3 m3 offset-s1 offset-m1">
                    <!--<a class="btn-floating btn-large  waves-light cardbut">
                        <i class="material-icons cardicon">navigate_before</i>
                    </a>-->
                    <div class="featured-image">
                        <div class="round-button">
                            <div class="round-button-circle" ng-click="changecardindex(-1)" id="nav-prev">
                                <i class="material-icons round-button">navigate_before</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <!--<a class="btn-floating btn-large waves-effect waves-light starbut">
                        <i class="material-icons staricon">star_border</i>
                    </a>-->
                    <div class="HeartAnimation">
                    </div>
                </div>
                <div class="col s3 m3">
                    <!--<a class="btn-floating btn-large waves-effect waves-light cardbut">
                        <i class="material-icons cardicon">navigate_next</i>
                    </a>-->
                    <div class="featured-image">
                        <div class="round-button">
                            <div class="round-button-circle" ng-click="changecardindex(1)" id="nav-next">
                                <i class="material-icons round-button">navigate_next</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2 xl3"></div>
    </div>
</div>
