<div class="container">
    <div class="row">
        <div class="col s12 m2 l2"></div>
        <div class="col  s12 m8 l8 textcenter">
            <div class="cardbox">
                <div class="cardspage">
                    <div class="concepthead">
                        <div class="row">
                            <div class="col s3">2/10</div>
                            <div class="col s6 truncate ">Intro to light</div>
                            <div class="col s3">
                                <div class="row">
                                    <div class="col s2"></div>
                                    <div class="col s8 " style="display:flex;"><i class="material-icons concepticon">lock_outline</i>
                                        <i class="material-icons concepticon">add</i></div>
                                    <div class="col s2"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col s12 m2 l2"></div>
    </div>
    <div class="row">
        <div class="col s12 m3 l2 xl3"></div>
        <div class="col s12 m6 l8 xl6 textcenter iconrow">
            <div class="row">

                <div class="col s3 m3 offset-s1 offset-m1">
                    <!--<a class="btn-floating btn-large  waves-light cardbut">
                        <i class="material-icons cardicon">navigate_before</i>
                    </a>-->
                    <div class="featured-image">
                        <div class="round-button">
                            <div class="round-button-circle">
                                <i class="material-icons round-button">navigate_before</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <!--<a class="btn-floating btn-large waves-effect waves-light starbut">
                        <i class="material-icons staricon">star_border</i>
                    </a>-->
                    <div class="featured-image">
                        <div class="round-button">
                            <div class="round-button-circle">
                                <i class="material-icons round-button">star_border</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3 m3">
                    <!--<a class="btn-floating btn-large waves-effect waves-light cardbut">
                        <i class="material-icons cardicon">navigate_next</i>
                    </a>-->
                    <div class="featured-image">
                        <div class="round-button">
                            <div class="round-button-circle">
                                <i class="material-icons round-button">navigate_next</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2 xl3"></div>
    </div>
</div>
