<div class="bg">
        <div class="row subbox3" style="text-align:center;">

            <div class="col s4 subbox">
                <div class="subbox2">
                    <img src="img/calculator-active.png" class="subicons">
                    <div class="sublist">MATHEMATICS</div>

                </div>
            </div>
            <div class="col s4 subbox">
                <div class="subbox2">
                    <img src="img/chemistry-active.png" class="subicons">
                    <div class="sublist">CHEMISTRY</div>

                </div>
            </div>
            <div class="col s4 subbox">
                <div class="subbox2">
                    <img src="img/biology-active.png" class="subicons">
                    <div class="sublist">BIOLOGY</div>

                </div>
            </div>

        </div>

        <div class="row subbox4" style="text-align:center;">

            <div class="col s4 subbox">
                <div class="subbox2">
                    <img src="img/physics-active.png" class="subicons">
                    <div class="sublist">PHYSICS</div>

                </div>
            </div>
            <div class="col s4 subbox">
                <div class="subbox2">
                    <img src="img/play.png" class="subicons">
                    <div class="sublist">RESUME</div>

                </div>
            </div>
            <div class="col s4 subbox">
                <div class="subbox2">
                    <img src="img/question-mark.png" class="subicons">
                    <div class="sublist">Doubts</div>

                </div>
            </div>

        </div>
    </div>