<div class="wrapper">
    <div class="row dashboard-outer-div">
        <div class="dashboard-div">
            <ul id="tabs-swipe-demo" class="tabs dashboard-tabs-div">
                <li class="tab col s3"><a class="active" href="#subject-swipe-1">Physics</a></li>
                <li class="tab col s3"><a href="#subject-swipe-2">Chemistry</a></li>
                <li class="tab col s3"><a href="#subject-swipe-3">Maths</a></li>
                <li class="tab col s3"><a href="#subject-swipe-4">Biology</a></li>
            </ul>
            <div id="subject-swipe-1" class="col s12 dashboard-data-div">
                <div class="row">
                    <div class="col l12 m12 s12 dashboard-data-graph-div">
                        <canvas id="timeline-graph" width="100" height="40"></canvas>
                    </div>
                    <div class="col l12 m12 s12 dashboard-data-chapters-div">
                        <ul class="collapsible dashboard-data-chapters-list" data-collapsible="expandable">
                            <li>
                                <div  id="key1" class="collapsible-header" ng-click="openchaptertitle('key1')"><i class="material-icons right dashboard-chapter-title-icons key1">&#xE313;</i>Key Strengths</div>
                                <div class="collapsible-body">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div  id="key2" class="collapsible-header" ng-click="openchaptertitle('key2')"><i class="material-icons right dashboard-chapter-title-icons key2">&#xE313;</i>Weaknesses</div>
                                <div class="collapsible-body">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div id="key3" class="collapsible-header" ng-click="openchaptertitle('key3')"><i class="material-icons right dashboard-chapter-title-icons key3">&#xE313;</i>Others</div>
                                <div class="collapsible-body">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="subject-swipe-2" class="col s12 dashboard-data-div">Test 2</div>
            <div id="subject-swipe-3" class="col s12 dashboard-data-div">Test 3</div>
            <div id="subject-swipe-4" class="col s12 dashboard-data-div">Test 3</div>

        </div>
    </div>
</div>
