<div ng-controller="menuCtrl">
        <ul id="slide-out" class="side-nav fixed menubg">


            <li>
                <div class="user-view logobox">
                </div>
            </li>


            <!--<li class="searchbox">

                <input type="text">
                <i class="material-icons">search</i>

            </li>-->

            <!--  <li class="search">
                <div class="search-wrapper card">
                    <input id="search"><i class="material-icons searchicon">search</i>
                </div>
            </li>
-->
            <li><a class="subheader">STUDY</a></li>
            <li>
                <div class="divider dividerline"></div>
            </li>



             <li>

                <a class="waves-effect menutext" href="">
                     <i class="material-icons icons">import_contacts</i><p class="menulist">Subjects</p></a>
            </li>
            <li>

                <a class="waves-effect menutext" href="">
                     <i class="material-icons icons">chat_bubble_outline</i><p class="menulist">Doubts</p></a>
            </li>


            <li><a class="subheader">USER</a></li>

            <li>
                <div class="divider dividerline"></div>
            </li>
            <li>
                <a class="waves-effect menutext" href="">
                    <i class="material-icons icons">person_outline</i><p class="menulist">Profile</p></a>
            </li>

            <li>
                <a class="waves-effect menutext" href="">
                   <i class="material-icons icons">pie_chart_outlined</i><p class="menulist">Dashboard</p></a>
            </li>

            <li>
                <a class="waves-effect menutext" href="">
                    <i class="material-icons icons">bookmark_border</i><p class="menulist">Bookmark</p></a>
            </li>

            <li>
                <a class="waves-effect menutext" href="">
                    <i class="material-icons icons">star_border</i><p class="menulist">Starred</p></a>
            </li>

            <li>
                <a class="waves-effect menutext" href="">
                    <i class="material-icons icons">equalizer</i><p class="menulist">Leaderboard</p></a>
            </li>





            <li>
                <div class="divider"></div>
            </li>

            <li>
                <a class="waves-effect menutext" href="">
                 <i class="material-icons icons">important_devices</i><p class="menulist">Go to website</p></a>
            </li>


        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons menuicon">apps</i></a>



    </div>