<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 paddingtop">
        
        <div class="searchicon">
           <i class="material-icons ">search</i> <label><input ng-model="searchText"></label>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default primarybg" ng-click="gotocreatequestion(0)">
               Create</button>
            </div>
            <div class="col-md-6 questionsfilterdiv">
                <select class="displayinlineblock" style="width: 22%;" ng-model="filter.boardid" ng-change="getdata('standards', filter.boardid)">
                    <option value="0">All Boards</option>
                    <option value="{{board.id}}" ng-repeat="board in boards">{{board.name}}</option>
                </select>
                <select class="displayinlineblock" style="width: 22%;" ng-model="filter.standardid" ng-change="getdata('subjects', filter.standardid)">
                    <option value="0">All Standards</option>
                    <option value="{{std.id}}" ng-repeat="std in standards">{{std.name}}</option>
                </select>
                <select class="displayinlineblock" style="width: 22%;" ng-model="filter.subjectid" ng-change="getdata('chapters', filter.subjectid)">
                    <option value="0">All Subjects</option>
                    <option value="{{sub.id}}" ng-repeat="sub in subjects">{{sub.name}}</option>
                </select>
                <select class="displayinlineblock" style="width: 22%;" ng-model="filter.chapterid" ng-change="getdata('concepts', filter.chapterid)">
                    <option value="0">All Chapters</option>
                    <option value="{{chap.id}}" ng-repeat="chap in chapters">{{chap.name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <div class="bulkuploaddiv">
                    <input id="quesexcelinp" class="questionschoosefile" type="file" aria-label="Add Excel to your post" class="upload" name="file" onchange="angular.element(this).scope().LoadFileData(this.files)" multiple="">

                    <input type="button" class="btn btn-default primarybg" ng-click="submit()" value="Upload" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table id="searchTextResults" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>Question</th>
                    <th>Type</th>
                    <th>Options</th>
                    <th>Action</th>
                </tr>
            </thead>


            <tbody>
                <tr ng-repeat="q in questions | filter:searchText">
                    <td>{{$index+1}}</td>
                    <td>{{q.question}}</td>
                    <td>{{q.type}}</td>
                    <td>{{q.optionsavailable}}</td>
                    <td class="text-center">
                        <!-- <button type="button" class="btn btn-default" ng-click="gotocreatecustomer(q.id)">Edit</button>
                        
                        <button type="button" class="btn btn-default" ng-click="deletequestion(q.id)">Delete</button>-->
                        <i class="material-icons questionicon" aria-hidden="true" ng-click="gotocreatequestion(q.id)">mode_edit</i>
                        <i class="material-icons questionicon redcolor" aria-hidden="true" ng-click="deletequestion(q.id)">delete</i>



                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
