<div class="bg">
        <div class="moon animated fadeIn">
        <img src="img/moon.png" width="100%">
    </div>

    <div  class="astro animated fadeIn">
        <img src="img/astroman.png" width="100%">
    </div>
</div>

<div class="container">

    <div class="row subbox3" style="text-align:center;">

        <div class="col  s6 m4 l4 subbox" ng-repeat='s in standards' ng-click="gotosubjects(s.id)" ng-if="standards.length >0">
            <div class="standardbox">
                <div class="standardtext">{{s.name.substring(0,s.name.length-2)}}<span style="font-size:xx-large;">th</span></div>

            </div>
  
        </div>
        <div ng-if="standards.length == 0">
            <h4>No standards retrived</h4>
        </div>

    </div>
</div>
