<div class="container">

    <!--LOADING DIV-->
    <div ng-show="loadingdiv" class="loadingdiv">
        <img src="img/booksFallingLoading.gif">
    </div>

    <!--DIV AFTER LOADING-->
    <div ng-hide="loadingdiv">
        <div ng-if="errormsg!=''">
            {{errormsg}}
            <button ng-click="reloadpage()">Retry</button>
        </div>
        <div class="standbox" ng-if="errormsg==''">
            <div class="row subbox3 " style="text-align:center;" ng-if="subjects.length>0">

                <div class="col s12 m6 l4 xl4 subbox" ng-repeat='s in subjects' ng-click='gotochapters(s.id)'>
                    <div class="subbox2 z-depth-2">
                        <img src="{{s.image | imagepath}}" class="subicons">
                        <div class="sublist">{{ s.name | uppercase}}
                        </div>

                    </div>
                </div>

                <div class="col s12 m6 l4 xl4 subbox">
                    <div class="subbox2 z-depth-2">
                        <i class="icon ion-ios-play-outline"></i>
                        <div class="sublist">RESUME</div>

                    </div>
                </div>
                <div class="col s12 m6 l4 xl4 subbox">
                    <div class="subbox2 z-depth-2">
                        <i class="icon ion-ios-help-outline"></i>
                        <div class="sublist">DOUBTS</div>

                    </div>
                </div>

            </div>
            <div ng-if="subjects.length==0">
                No subjects fetched
            </div>
        </div>
    </div>
</div>
