<div class="bg">

</div>

<div class="container">
<div class="row subbox3" style="text-align:center;">

    <div class="col s6 m4 l4 subbox" ng-repeat='s in subjects' ng-click='gotochapters(s.id)'>
        <div class="subbox2">
            <img src="img/calculator-active.png" class="subicons">
            <div class="sublist">{{ s.name | uppercase}}
            </div>

        </div>
    </div>
    
    <div class="col  s6 m4 l4 subbox">
        <div class="subbox2">
            <img src="img/play.png" class="subicons">
            <div class="sublist">RESUME</div>

        </div>
    </div>
    <div class="col  s6 m4 l4 subbox">
        <div class="subbox2">
            <img src="img/question-mark.png" class="subicons">
            <div class="sublist">DOUBTS</div>

        </div>
    </div>

</div>
</div>

