<div class="testbg">
    <div class="container">
    <div class="row testtext">
        <div class="col s4 l4">
            <img src="img/astro.png">
        </div>
        <div class="col s8 l8">
            <div class="congratstext"><h2>Nice Work! </h2><!--satisfactory,you are amazing, better luck next time-->
            </div>
            <div class="scoretext">You scored 
            </div>
            <div class="score">9/20
            </div>
        </div>
    </div>
    <div class="row textcenter resulttext">
        <div class="col s4 l4 ">
        <i class="material-icons">tag_faces</i>Correct <h4>9</h4> </div>
        <div class="col s4 l4 "><i class="material-icons">tag_faces</i>Incorrect <h4>5</h4> </div>
        <div class="col s4 l4 "><i class="material-icons">tag_faces</i>Unanswered <h4>9</h4></div>
    </div>
</div>
</div>
